<!--
	Launch for for ZED capture node.
	Requirement: run <zed_cature>/script/gen_rect_map.py with factory calibration params file as input
	   	for generating camera_info .yaml files and undistortion/rectification look-up table files for LDC hardware accelerator
-->

<launch>
	<!-- string for ZED camera serial number -->
	<!-- TI-Internal: SN18059:    ZED1 Camera -->
	<!--              SN29788442: ZED2 Camera -->
	<!-- UvA-Internal SN14962641: ZEDm Camera -->
	<arg name="zed_sn_str"               default="SN14962641"/>
	<!-- to find your device name, use ls /dev/video* and look for the name begin with video -->
	<!-- typically camera recoginized as "/dev/video2" on the target with Edge AI base image -->
	<arg name="device_name"              default="/dev/video4"/>
	<!-- camera_mode: '2K' - 2208x1242, 'FHD' - 1920x1080, 'FHD2' - 1920x1024: center-cropped from 1080p,
		               HD' - 1280x720, 'HD2' - 1280x720: center-cropped from 1080p -->
	<arg name="camera_mode"              default="HD"/>
	<!-- frame rate -->
	<arg name="frame_rate"               default="15"/>
	<!-- encoding: "yuv422" (default, output in YUV422:UYVY format), "bgr8" -->
	<!-- arg name="encoding"                 default="yuv422"/-->
	<arg name="encoding"                 default="bgr8"/>
	<!-- topic_ns_left: topic namespace (left) -->
	<arg name="topic_ns_left"            default="camera/left"/>
	<!-- topic_ns_right: topic namespace (right) -->
	<arg name="topic_ns_right"           default="camera/right"/>

	<node pkg="zed_capture" type="zed_capture" name="zed_capture" output="screen" required="true">
		<param name="camera_mode"             value="$(arg camera_mode)"/>
		<param name="frame_rate"              value="$(arg frame_rate)"/>
		<param name="frame_id_left"           value="left_frame"/>
		<param name="frame_id_right"          value="right_frame"/>
		<param name="device_name"             value="$(arg device_name)"/>
		<param name="encoding"                value="$(arg encoding)"/>
		<param name="image_topic_left"        value="$(arg topic_ns_left)/image_raw" />
		<param name="image_topic_right"       value="$(arg topic_ns_right)/image_raw" />
		<param name="camera_info_topic_left"  value="$(arg topic_ns_left)/camera_info" />
		<param name="camera_info_topic_right" value="$(arg topic_ns_right)/camera_info" />
		<param name="camera_info_left_yaml"   value="$(arg zed_sn_str)_$(arg camera_mode)_camera_info_left.yaml"/>
		<param name="camera_info_right_yaml"  value="$(arg zed_sn_str)_$(arg camera_mode)_camera_info_right.yaml"/>
	</node>

</launch>
